<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814802782997-i0jof6k12ip29pv8ekaf6s19atni4gqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814802782997-i0jof6k12ip29pv8ekaf6s19atni4gqa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>814802782997-76akcl9k8f437s3416jhqunr76a8l6gv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAI4ByYHkZQtx1ut7q249mehHMvZMQMDZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>814802782997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-bam-e22</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-bam-e22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814802782997:ios:0cf7544237a145607c771c</string>
</dict>
</plist>